aiosqlite==0.21.0
archspec==0.2.3
asgiref==3.8.1
asyncio==4.0.0
beautifulsoup4==4.14.3
boltons==24.0.0
bootstrap4==0.1.0
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
colorama==0.4.6
conda==24.9.1
conda-libmamba-solver==24.9.0
conda-package-handling==2.3.0
conda_package_streaming==0.10.0
distlib==0.3.9
distro==1.9.0
Django==4.2.20
django-bootstrap4==25.2
filelock==3.16.1
frozendict==2.4.4
greenlet==3.2.4
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
jsonpatch==1.33
jsonpointer==3.0.0
libmambapy==1.5.10
menuinst==2.1.2
misaka==2.1.1
mysqlclient==2.2.6
packaging==24.1
pillow==11.3.0
pip==26.0.1
platformdirs==4.3.6
pluggy==1.5.0
pycosat==0.6.6
pycparser==2.22
PySocks==1.7.1
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
setuptools==75.1.0
soupsieve==2.8.3
SQLAlchemy==2.0.44
sqlparse==0.5.3
tqdm==4.66.5
typing_extensions==4.13.2
urllib3==2.2.3
uv==0.6.14
virtualenv==20.27.1
wheel==0.44.0
zstandard==0.23.0
